
header {
    height: 360px;
    background-image: url("../Henry_Winkler.png");
    background-size: 15%;
    background-repeat: no-repeat;
    background-color: rgb(240, 72, 72);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
  }
  h2 {
    font-size: 90px;
    font-family: "Franklin Gothic Medium";
    color: black;
    font-weight: bold;
  }